#about-our-app{
    color: $FONT-COLOR-DARK-GRAY;

    .container{
        .our-app-grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 50px;
            column-gap: 5%;

            .our-app-grid__item{

                .our-app-grid__title{
                    @include ROBOTO-R(30px);
                    margin-top: 62px;
                }
                .our-app-grid__text{
                    margin-top: 19px;
                    text-align: justify;
                    @include ROBOTO-R(18px);
                    line-height: 24px;
                }
                .our-app-grid__button-GP{
                    margin-top: 50px;
                }
                .about-our-app__phone-img{
                    background-image: url("ASSETS/IMG/ABOUT_OUR_APP/about-our-app_phone-bg.png");
                    background-size: cover;
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-68%);
                    width: 295px;
                    height: 458px;

                }
            }
        }
    }
}
@media (max-width: $MAX-FOR-TB){
    #about-our-app{
        color: $FONT-COLOR-DARK-GRAY;
    
        .container{
            .our-app-grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                margin-top: 50px;
                column-gap: 5%;
                margin: 0px 15px;
            }
        }
    }
}
@media (max-width: $MAX-FOR-TB){
    #about-our-app{

        .container{
            .our-app-grid{
                margin: 39px 15px;
            }
        }
    }
}
@media (max-width: $MAX-FOR-MB){
    #about-our-app{
    
        .container{
            .our-app-grid{
                display: grid;
                grid-template-columns: 1fr;
                margin-top: 50px;
                column-gap: 5%;
                margin: 39px 15px;
                

                .our-app-grid__item_right{
                    grid-row: 1/2;
                    height: 200px;
                    width: 100%;
                    .about-our-app__phone-img{
                        transform: unset;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-attachment: fixed;
                    }
                    
                }

                .our-app-grid__item_left{
                    .our-app-grid__button-GP{
                        position: relative;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
            }
        }
    }
}