#questions{
    padding-bottom: 80px;
    .container{
        .questions__vertical-menu{
            margin-top: 50px;
        }
        .vertical-menu{
            .questions__item{
                width: 790px;
                margin: auto;
            }
        }
    }
}