$SPIDESHOW_SPEED: 2s;

#reviews{
    padding-bottom: 40px;

    .reviews__slider{
        line-height: 0;
        overflow: hidden;

        #reviews__sliderline{
            font-size: 0px;
            display: table;
            position: relative;
            transition: $SPIDESHOW_SPEED ease left;
            left: 0;
            
            .reviews__sliderline-item{
                display: inline-block;
                margin: 0px;

                .reviews__container{
                    padding: 50px;
                    background-color: white;
                }
                //CONTENT
                .container{
                    margin-top: 90px;

                    .reviews__grid{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        column-gap: 41px;

                        .reviews__item{

                            .reviews_profile{
                                float: left;

                                .reviews__photo_1{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_1.jpg");
                                }
                                .reviews__photo_2{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_2.jpg");
                                }
                                .reviews__photo_3{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_3.jpg");
                                }
                                .reviews__photo_4{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_4.jpg");
                                }
                                .reviews__photo_5{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_5.jpg");
                                }
                                .reviews__photo_6{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__photo_6.jpg");
                                }
                                .reviews__photo{
                                    background-size: cover;
                                    left: 0;
                                    top: 0;
                                    border-radius: 50%;
                                    width: 105px;
                                    height: 105px;
                                }
                                .reviews__lightstick{
                                    background-image: url("ASSETS/IMG/REVIEWS/reviews__lightstick.png");
                                    width: 70px;
                                    height: 184px;
                                    margin: auto;
                                }
                            }
                            .reviews__profile-text-frame{
                                overflow: hidden;
                                text-align: center;
                                padding-top: 90px;

                                .reviews__text-name{
                                    @include ROBOTO-R(30px);
                                    line-height: 30px;
                                    color: $FONT-COLOR-DARK-GRAY;
                                }
                                .reviews__text-comment{
                                    @include ROBOTO-R(18px);
                                    line-height: 24px;
                                    text-align: justify;
                                    color: $FONT-COLOR-LIGHT-GRAY;
                                    margin: 25px 35px 0px 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .reviews__indicator-frame{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}