$SCREENSHOT-WIDTH: 246px;
$SCREENSHOT-HEIGHT: 446px;

#screenshots{
    margin-bottom: 20px;
    overflow: hidden;
    
    .container{
        .screenshots__grid{
            margin-top: 60px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-self: center;
            width: 80%;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            .screenshots__item_1{
                background-image: url("ASSETS/IMG/SCREENSHOTS/screenshoot_1.jpg");
            }
            .screenshots__item_2{
                background-image: url("ASSETS/IMG/SCREENSHOTS/screenshoot_2.jpg");
            }
            .screenshots__item_3{
                background-image: url("ASSETS/IMG/SCREENSHOTS/screenshoot_3.jpg");
            }
            .screenshots__item_4{
                background-image: url("ASSETS/IMG/SCREENSHOTS/screenshoot_4.jpg");
            }
            .screenshots__item{
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                position: relative;
                transition: 1s all;
                width: $SCREENSHOT-WIDTH;
                height: $SCREENSHOT-HEIGHT;
                &:hover{
                    width: $SCREENSHOT-WIDTH*1.4;
                    height: $SCREENSHOT-HEIGHT*1.4;
                    transition: 1s all;
                    transform: translateY(-14%);
                }
            }
        }
    }
}
@media (max-width: $MAX-FOR-TB){
    #screenshots{
        .container{
            .screenshots__grid{
                .screenshots__item{
                    width: $SCREENSHOT-WIDTH/2;
                    height: $SCREENSHOT-HEIGHT/2;
                }
            }
        }
    }
}
@media (max-width: $MAX-FOR-MB){
    #screenshots{
        .container{
            .screenshots__grid{
                .screenshots__item{
                    width: $SCREENSHOT-WIDTH/3;
                    height: $SCREENSHOT-HEIGHT/3;
                    &:hover{
                        width: $SCREENSHOT-WIDTH;
                        height: $SCREENSHOT-HEIGHT;
                        transition: 1s all;
                        transform: translateY(-14%);
                    }
                }
                
            }
        }
    }
}