#worth{
    .container{
        #worth__grid{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 51px;
            margin-top: 147px;
            width: 100%;

            .worth__item{
                

                .worth__ico{
                    background-size: cover;
                    display: inline-block;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 93px;
                    height: 93px;
                    margin-top: 65px;
                }
                .worth__text{
                    text-align: center;
                    @include ROBOTO-R(18px);
                    line-height: 24px;
                    color: $FONT-COLOR-LIGHT-GRAY;
                    margin-top: 26px;
                    margin-bottom: 80px;
                    padding: 0px 27px;
                }
                #worth__ico_1{
                    background-image: url("ASSETS/IMG/WORTH/worth_ico_1.png");
                }
                #worth__ico_2{
                    background-image: url("ASSETS/IMG/WORTH/worth_ico_2.png");
                }
                #worth__ico_3{
                    background-image: url("ASSETS/IMG/WORTH/worth_ico_3.png");
                }
            }
        }
    }
}
@media (max-width: $MAX-FOR-TB){
    #worth{
        .container{
            #worth__grid{
                width: 100%;
                margin: auto;
                display: grid;
                grid-template-columns: 40%;
                row-gap: 35px;
                justify-content: center;
                column-gap: 51px;
                margin-top: 147px;
            }
        }
    }
}
@media (max-width: $MAX-FOR-MB){
    #worth{
        .container{
            #worth__grid{
                width: 100%;
                margin: auto;
                display: grid;
                grid-template-columns: 80%;
                row-gap: 35px;
                justify-content: center;
                column-gap: 51px;
                margin-top: 147px;
            }
        }
    }
}