//roboto-regular: 400;
//roboto-bold: 700;
//roboto-medium: 500;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
body{
    font-family: "Roboto", sans-serif;
}
@mixin ROBOTO-R($size){
    font-weight: 400;
    font-size: $size;
}
@mixin ROBOTO-M($size){
    font-weight: 500;
    font-size: $size;
}
@mixin ROBOTO-B($size){
    font-weight: 700;
    font-size: $size;
}
@mixin ROBOTO-RC($size){
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: $size;
}
@mixin ROBOTO-BC($size){
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    font-size: $size;
}