$MAX-FOR-TB: 1237px;
$MAX-FOR-MB: 768px;
$CONTAINER-PC: 1237px;
$CONTAINER-TB: 768px;
$CONTAINER-MB: 100%;

//COLORS
$FONT-COLOR-LIGHT-GRAY: #6d6d6d;

a{
    text-decoration: none;
}
.container{
    width: $CONTAINER-PC;
    margin: auto;
}
//BUTTONS
.button-GP_blue{
    background-color: #b5e1f0;
}
.button-GP{
    border-radius: 10px;
    height: 56px;
    width: 181px;

    .button-GP__ico{
        display: inline-block;
        width: 33px;
        height: 33px;
        background-image: url("ASSETS/IMG/COMMON/BUTTONS/Google-Play-Ico.png");
    }
    .button-GP__text{
        display: inline-block;
        margin-left: 2px;
        @include ROBOTO-R(14px);
        line-height: 18px;
        text-align: left;
        .button-GP__GET-ON{
            margin-left: 4px;
        }
        .button-GP__GP{
            @include ROBOTO-R(18px);
        }
    }
}
//MEDIA
@media (max-width: $MAX-FOR-TB){
    .container{
        width: $CONTAINER-TB;
    }
}
@media (max-width: $MAX-FOR-MB){
    .container{
        width: $CONTAINER-MB;
    }
}