$MAX-FOR-TB: 1237px;
$MAX-FOR-MB: 768px;
$CONTAINER-PC: 1237px;
$CONTAINER-TB: 768px;
$CONTAINER-MB: 100%;

a{
    text-decoration: none;
}
.container{
    width: $CONTAINER-PC;
    margin: auto;
}
@media (max-width: $MAX-FOR-TB){
    .container{
        width: $CONTAINER-TB;
    }
}
@media (max-width: $MAX-FOR-MB){
    .container{
        width: $CONTAINER-MB;
    }
}